* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body,
html,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.App {
  flex: 1 0 auto;
}

img {
  max-width: 100%;
}
<<<<<<< HEAD
.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: rgb(243, 136, 13);
}
.swiper-button-next:active,
.swiper-button-prev:active {
  color: rgb(229, 243, 32);
=======

.header--inner .registration {
  margin-left: auto !important;
>>>>>>> 15f25a0eb003a0838f545c3f3215bcbaa7d8125f
}
