.footer {
  flex: 0 0 auto;
  width: 100%;
  background-color: #69c6ba;
  color: #fff;
  font-weight: bold;
}

.footer__toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.footer__githubs svg,
.footer__youtube svg {
  color: #fff;
}

.footer__logo {
  width: 80px;
  color: #fff;
  opacity: 0.9;
  transition: all 0.3s ease;
}

.footer__logo:hover {
  opacity: 0.99;
}

.footer__meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}
