.photoGallery {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.swiperContainer {
  width: 100%;
}
.img {
  width: 100%;
}
:root {
  --swiper-theme-color: rgb(36, 13, 243);
}

.imgThumbs {
  cursor: pointer;
  opacity: 0.4;
}
.imgThumbs:active {
  opacity: 1;
}
.imgThumbs:hover {
  opacity: 1;
}
.imgFullscreen {
  margin: 5px;
  cursor: pointer;
  position: absolute;
  z-index: 10;
  right: 0;
}
