.currency {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.valueCurrency {
  margin: 0;
  font-size: 12px;
  color: rgb(72, 136, 88);
}
.nameCurrency {
  margin: 0;
  font-size: 16px;
  color: rgb(72, 136, 88);
}
