.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: #69c6ba;
  color: rgb(250, 249, 249);
}

.header_toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .header {
  }
}
