.weather {
  display: flex;
  flex-direction: column;
}
.containerTempIconText {
  display: flex;
}
.containerIconText {
  margin-left: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.weatherIcon {
  width: 70px;
  height: 70px;
}
.weatherTemp {
  font-size: 70px;
  margin: 0;
  color: rgba(0, 0, 0, 0.54);
}
.weatherText {
  font-size: 12px;
  margin: 0;
  color: rgba(0, 0, 0, 0.54);
}
.weatherHumidity {
  font-size: 16px;
  margin: 0;
  color: rgba(0, 0, 0, 0.54);
}
